.container{
  display:flex;
  flex-direction:row;
  justify-content:space-around; 
  border:solid 1px;
  background-color:#c0c0c0;
  align-items:center;
  
}
.item{
	font-size:25px;
	color:lime;
	flex-basis:25%;
}
.item1 {
	font-size:80px;
	color:purple;
}
\\
